<div class="wrapper">
	<div class="container"> 
		<div class="title primary largevertspace">
			<%= link_to "alex heil rocks.", root_url %>
		</div>
		<div class="medtitle secondary smallvertspace">
			I only made this because the colors are cool. <%= link_to "I mean seriously, hover this junk.", root_url, class: "secondarylink" %>
		</div>
		<div class="minivertspace">
			I mean, the rest of this is bullcrap and this bullcrap will be in white or something, I don't know. It's whatever, like it or not, I don't care what you think.
		</div>
		<div class="minivertspace">
			Just to be clear, I honestly don't care how you feel about this page.
		</div>
		<div class="minivertspace">
			It's true, I don't care. Just don't make me cry.
		</div>
		<div class="minivertspace">
			I just want to make play where I can sandbox development stuff and fuck up a bunch, and display things that I want to show off, and maybe toss some blog posts in here or there. Fuck it, honestly, who knows.
		</div>
		<div class="minivertspace">
			Yeah, this color scheme is ripped straight from Heartseeker. Look it up, you lazy ass.
		</div>

		<div class="medtitle threecol medvertspace">
			<%= link_to "sandbox.", '#' %>
		</div>
		<div class="medtitle threecol medvertspace">
			<%= link_to "portfolio.", '#' %>
		</div>
		<div class="medtitle threecol medvertspace">
			<%= link_to "blog.", blog_path %>
		</div>

	</div>
</div>